* {
  margin: 0;
  padding: 0;
}

#__next {
  position: absolute;
  inset: 0;
}

#root {
  position: relative;
  z-index: 1;
  height: calc(100vh - 0rem);
}

#root, #root > div {
  position: fixed;
  inset: 0;
  outline: none;
}

#root canvas {
  position: fixed;
  outline: none;
  inset: 0 auto 0 50%;
  transform: translateX(-50%);
}

#root .container {
  position: absolute;
  inset: 2rem !important;
  padding-bottom: 2rem;
  transform: none !important;
}

#leva__root {
  display: none !important;
}
